.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

#PrSize {
    // border: 1px solid black;
    margin: 2rem 1.5rem;
    text-align: center;
    border-radius: 52px;
    width: 22rem;
    // background-color: #e9d6dda6;
    background-image: linear-gradient(to top, #6bd1a9, #97ca89, #bdc076, #dbb375, #f0a784, #f0ae8b, #f0b493, #f0bb9b, #e1d1a9, #d7e3c5, #daf1e4, #edfbfa);
    ul {
        
        margin-bottom: 2rem;;
    }
    h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 2rem;
        color: #dd2323;
       
    }
    #content {
        list-style: none;
        text-align: left;
       
        margin: 1rem 0em ;
        margin-left: 2rem;
        font-size: 1rem;
        font-weight: 800;
    }
.btn
{
width: 60%;
height: 3rem;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    // margin: 1.3rem;
    margin-bottom: 1rem;
  border: none;
    .a {
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        object-fit: contain;
        font-weight: 600;
    }
 &:hover{
    box-shadow: 0 0 25px #776a6f;
 }
}
&:hover{
    box-shadow: 0 0 25px #776a6f;
 }
   

}

